#start
{
width: 40px;
background: blue;
border-radius: 100px;
padding: 10px;
text-decoration: none;
color: white;
}
#stop
{
    width:40px;
    border-radius: 100px;
    background: blue;
    padding: 10px;
    text-decoration: none;
    color:white;
}